{% extends "EzPlatformAdminUiBundle:admin/role:view.html.twig" %}

{% block page_title %}
    {% include '@ezdesign/parts/page_title.html.twig' with {
        title: 'role.view.view.title'|trans({'%identifier%': role.identifier})|desc('Role "%identifier%"'),
        iconName: 'roles'
    } %}

    <ul class="nav nav-tabs ez-nav-tabs--role px-4 ez-tabs" role="tablist">
        <li role="presentation" class="nav-item">
            <a href="#policies" class="nav-link active" role="tab" data-toggle="tab">
                {{ 'policy.view.list.title'|trans|desc('Policies') }}
            </a>
        </li>
        <li role="presentation" class="nav-item">
            <a href="#users-and-groups" class="nav-link" role="tab" data-toggle="tab">
                {{ 'role_assignment.view.list.title.count'|trans({'%count%': assignments|length})|desc('Assignments (%count%)') }}
            </a>
        </li>
        <li role="presentation" class="nav-item">
            <a href="#inheritance" class="nav-link" role="tab" data-toggle="tab">
                {{ 'Role Inheritances'|trans|desc('Role Inheritances') }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="policies">
            {{ render(controller('EzPlatformAdminUiBundle:Policy:list', {
                roleId: role.id,
                policyPage: policyPage,
                routeName: route_name
            })) }}
        </div>
        <div role="tabpanel" class="tab-pane" id="users-and-groups">
            {{ render(controller('EzPlatformAdminUiBundle:RoleAssignment:list', {
                roleId: role.id,
                assignmentPage: assignmentPage,
                routeName: route_name
            })) }}
        </div>
        <div role="tabpanel" class="tab-pane" id="inheritance">
            {{ render(controller('ContextualCodeEzPlatformRoleInheritanceBundle:RoleInheritance:view', {
                roleId: role.id,
                routeName: route_name
            })) }}
        </div>
    </div>
{% endblock %}